<div class="container">
  <h3>Add Bracelet</h3>
  <div class="row">
    <form role="form">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" class="form-control" id="name" required placeholder="Product Name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" rows="5" id="description" required placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" required>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" id="isOnSale"> Is On Sale
          </label>
        </div>
        <div class="form-group">
          <label for="salePrice">Sale Price</label>
          <input type="text" class="form-control" id="salePrice">
        </div>
        <button type="button" class="btn btn-default">Submit</button>
      </div>
      <div class="col-sm-6">
        <h4>Photos</h4>
        <div class="form-group">
          <label for="exampleInputFile"></label>
          <input type="file" id="exampleInputFile">
        </div>
      </div>
    </form>
  </div>
</div>
