<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p class="lead">
        <br />
        Hello! I'm Corinne, and I've been making handmade jewelry since I was a kid.
      </p>
      <p class="lead">
        I have a great passion for handmade jewelry and paper crafts.
      </p>
      <p class="lead">
        Please bear with me while my awesome husband finishes building my website. Once it's finished I'll be able to take your orders and create a custom item specially for you!
      </p>

      <p>Thanks for visiting!</p>
    </div>
  </div>
</div>
