<div class="container">
  <h3>Cart</h3>

    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><img src="http://placehold.it/180x160"></td>
            <td>Chainmaille Bracelet</td>
            <td>Blue & Silver</td>
            <td>$17.95</td>
          </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><button type="button" class="btn btn-primary btn-block">Checkout</button></td>
        </tr>
      </tfoot>
    </table>

</div>
