<div class="container-item">
    <div class="productTile">
    <div class="productTile-overlay">
      <% if (model.isOnSale) { %>
        <div class="productTile-sale-tag"><span>SALE</span></div>
      <% } %>
    </div>
    <div class="productTile-content">
      <div class="productTile-top-content">
        <div class="productTile-top-content-inner">
          <div class="productTile-product">
            <div class="productTile-top-title">
              <h2><%=model.name%></h2>
              <p class="subdescription">&nbsp;</p>
            </div>
          </div>
          <div class="productTile-product-price">
            <% if (model.isOnSale) { %>
              <span class="price-num"><%=model.salePrice%></span>
              <p class="subdescription">$<%=currency(model.price).format()%></p>
              <div class="old-price"></div>
            <% } else { %>
              <span class="price-num">$<%=currency(model.price).format()%></span>
            <% } %>
          </div>
        </div>
      </div>
      <div class="productTile-add-content">
        <div class="productTile-add-content-inner">
          <div class="section">
            <a role="button"
              class="btn btn-default btnMorePhotos"
              href="#/detail/<%=model.id%>">
              More Info
            </a>
            <button type="button"
              class="btn btn-default btnBuyNow"
              data-productid="<%=model.id%>">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
