<div class="container-item">
  <% if (model.thumbnail !== undefined) { %>
    <div class="productTile" style="background-image: url(<%=model.thumbnail%>)">
  <% } else { %>
    <div class="productTile">
  <% } %>
    <div class="productTile-overlay">
      <% if (model.isOnSale) { %>
        <div class="productTile-sale-tag"><span>SALE</span></div>
      <% } %>
    </div>
    <div class="productTile-content">
      <div class="productTile-top-content">
        <div class="productTile-top-content-inner">
          <div class="productTile-product">
            <div class="productTile-top-title">
              <h2><%=model.name%></h2>
              <p class="subdescription"><%=model.description%></p>
            </div>
          </div>
          <div class="productTile-product-price">
            <% if (model.isOnSale) { %>
              <span class="price-num"><%=model.salePrice%></span>
              <p class="subdescription"><%=model.price%></p>
              <div class="old-price"></div>
            <% } else { %>
              <span class="price-num"><%=model.price%></span>
            <% } %>
          </div>
        </div>
      </div>
      <div class="productTile-add-content">
        <div class="productTile-add-content-inner">
          <div class="section">
            <button type="button"
              class="btn btn-default btnMorePhotos"
              data-productid="<%=model.id%>"
              data-productname="<%=model.name%>">
              More Info
            </button>
            <button type="button"
              class="btn btn-default btnBuyNow"
              data-productid="<%=model.id%>">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
