<div class="container">
  <div class="row">
    <div id="productImageCarousel" class="col-md-8 carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <!-- _.each(image) -->
          <li data-target="#productImageCarousel" data-slide-to="0"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <!-- _.each(image) -->
            <div class="item active">
              <!--
              <img src="~/img/inventory/@Model.Images[i].FileName" alt="" />
              -->
            </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#productImageCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#productImageCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div class="col-md-4">
      <%= model.name %>
      <br />
      <%= model.price %>
    </div>
  </div>
</div>
