<div class="container-fluid">
  <div class="row">
    <div id="productImageCarousel" class="col-md-8 carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Images.Count; i++)
        {
          <li data-target="#productImageCarousel" data-slide-to="@i"></li>
        }
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        @for (int i = 0; i < Model.Images.Count; i++)
        {
          if (i == 0)
          {
            <div class="item active">
              <img src="~/img/inventory/@Model.Images[i].FileName" alt="" />
            </div>
          }
          else
          {
            <div class="item">
              <img src="~/img/inventory/@Model.Images[i].FileName" alt="" />
            </div>
          }
        }
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#productImageCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#productImageCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    <div class="col-md-4">
      @Model.Description
      <br />
      $@Model.Price
    </div>
  </div>
</div>
