<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active">
        <a href="#form" aria-controls="form" role="tab" data-toggle="tab">Bracelet</a>
      </li>
      <li role="presentation" class="disabled">
        <a href="#images" aria-controls="images" role="tab" data-toggle="tab">Images</a>
      </li>
      <li role="presentation" class="disabled">
        <a href="#dangerzone" aria-controls="dangerzone" role="tab" data-toggle="tab">Danger Zone</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div id="form" role="tabpanel" class="tab-pane active">
      <form role="form">
        <div class="col-sm-6">
          <div class="form-group">
            <div>
              <label for="name" class="control-label">Product Name</label>
              <span class="control-label validationMessage"></span>
            </div>
            <input type="text" class="form-control" id="name" value="<%= model.name %>" placeholder="Product Name" autofocus>
          </div>
          <div class="form-group">
            <div>
              <label for="description" class="control-label">Description</label>
              <span class="control-label validationMessage"></span>
            </div>
            <textarea class="form-control" rows="5" id="description" placeholder="Description"><%= model.description %></textarea>
          </div>
          <div class="form-group">
            <div>
              <label for="price" class="control-label">Price</label>
              <span class="control-label validationMessage"></span>
            </div>
            <input type="text" class="form-control" id="price" value="<%= model.price %>">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="isOnSale"> Is On Sale
            </label>
          </div>
          <div class="form-group">
            <div>
              <label for="salePrice" class="control-label">Sale Price</label>
              <span class="control-label validationMessage"></span>
            </div>
            <input type="text" class="form-control" id="salePrice" value="<%= model.salePrice %>">
          </div>
          <button id="save" type="button" class="btn btn-default">Save</button>
        </div>
        <div class="col-sm-6 photoArea" style="display: none;">
          <h4>Tile Image</h4>
          <small>Note: This image should be 360x320 in size</small>
          <div class="form-group">
            <p>
              <label for="thumbnailUpload"></label>
              <input type="file" accept="image/*" id="thumbnailUpload">
            </p>
            <div class="text-center">
              <p>
                <img id="thumbnail"/>
              </p>
              <p>
                <button id="deleteWarning" type="button" class="btn btn-danger" data-toggle="modal" data-target="#warningModal">
                  Delete
                </button>
              </p>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="images" role="tabpanel" class="tab-pane">
      <h3>Photos</h3>
      <small>Note: Photos are limited to 10MB each</small>
      <div class="form-group">
        <label for="fileUpload"></label>
        <input type="file" accept="image/*" id="fileUpload">
        <br/>
      </div>
    </div>
    <div id="dangerzone" role="tabpanel" class="tab-pane">
      <button id="deleteProductWarning" type="button" class="btn btn-danger" data-toggle="modal" data-target="#warningProductModal">
        Delete
      </button>
    </div>
  </div>
</div>
<div id="warningModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">
          <img id="imageToDelete"/>
        </p>
        <p class="text-center">Are you sure you want to delete this image?</p>
      </div>
      <div class="modal-footer bg-danger">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="deleteImage" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="warningProductModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body text-center">
        <p>Are you sure you want to delete the following product?</p>
        <h4><%= model.name %></h4>
        <img src="<%= model.thumbnail %>"/>
        <p style="padding-top: 10px">Once it's gone, it's gone! This cannot be undone!</p>
      </div>
      <div class="modal-footer bg-danger">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="deleteProduct" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
